
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root{
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey:#3D546F;
    --basic-greylight:#C5C5C5;
    --grey-lighter:#F1F5F7;
    --white: #FFFFFF;
    --yellow-bright:#FFBF47;
    --yellow-light:#FFD180;
    --blue:#3BBCE3;
    --lillac:#DC91D8;
    --green-light:#8ED78F;
    --green-bright:#5FBB2D;
    --dark-red:#BA2732;
    --verylight-grey:#EAEAEA;
}

body{
    min-width: 940px;
}