.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root{
    --basic-red: #EE3643;
    --basic-red-shadow: #B52933;
    --credit-red:#FF5357;
    --basic-green: #63A63E;
    --shadow-green:#367315;
    --active-green:#518534;
    --basic-grey:#3D546F;
    --basic-greylight:#C5C5C5;
    --basic-background:#F1F5F7; 
    --white: #FFFFFF;
    --yellow-bright:#FFBF47;
    --yellow-light:#FFD180;
    --yellow-very-bright:#FFC047;
    --blue:#3BBCE3;
    --lillac:#DC91D8;
    --green-light:#8ED78F;
    --green-bright:#5FBB2D;
    --price-green: #00CA74;
    --dark-red:#BA2732;
    --verylight-grey:#EAEAEA;
    --footer-grey:#293449;
    --nav-background-grey:#32425C;
    --header-dark-grey:#161D29;
    --semitransparent-white:  rgba(255, 255, 255, 0.5);
    --nav-active: #1D2739;
    --beige:#F7F3EC;
    --heading-beige:#F9F5F0;
    --not-active-price:#A9A9A9;
    --very-very-slight-grey:#E5E5E5;
    --black: black;
    --social-dark-grey:#212A3A;
    --button-shadow-grey:#405069;
    --semitransparent-grey :rgba(197, 197, 197, 0.3);
    --semitransparent-darkgrey: rgba(169, 169, 169, 0.3);
    --semtransparent-black: rgba(0, 0, 0, 0.3);
    --semitransparent-black-for-input: rgba(0, 0, 0, 0.4);
    --semitransparent-white-for-buttons: rgb(255, 255, 255, 0.3);
    --grey-for-scale: #d7dcde;
    --pin-grey:#ABABAB;
    --pin-shadow-grey: rgba(171, 171, 171, 0.3);
    --price-separator-brown: #444444;
    --form-grey:#F4F4F4;
    --good-info-grey: #F1F1F1;
}

@font-face{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/cuprum.woff2") format('woff2');
    src: url("../fonts/cuprum.woff") format('woff');
}

@font-face{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/cuprumitalic.woff2") format('woff2');
    src: url("../fonts/cuprumitalic.woff") format('woff');
}

@font-face{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/cuprumbolditalic.woff2") format('woff2');
    src: url("../fonts/cuprumbolditalic.woff") format('woff');
}

@font-face{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/cuprumbold.woff2") format('woff2');
    src: url("../fonts/cuprumbold.woff") format('woff');
}

@font-face{
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ptsans.woff2") format('woff2');
    src: url("../fonts/ptsans.woff") format('woff');
}

@font-face{
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/ptsansbold.woff2") format('woff2');
    src: url("../fonts/ptsansbold.woff") format('woff');
} 

body{
    min-width: 940px;
    font-family: 'Cuprum', sans-serif;
    box-sizing: border-box ;
}

a {
    text-decoration: none;
  }


/* Content for center */
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

/* Header */

.header-logo{
    background-color: var(--basic-red, #EE3643);
    width:220px;
    box-shadow: 0px 5px 0px var(--basic-red-shadow, #B52933);
}

.header-logo img{
    margin-top:12px;
    margin-left: 55px;
    width:108px;
    height: 18px;
}

.header-logo:active{
    background-color: var(--dark-red, red);
}

.high-footer{
    background-color: var(--footer-grey);
    color: var(--white);
}

input[name="search"]{
    background-color: var(--footer-grey);
    border: none;
    font-family: 'Cuprum' Arial, sans-serif;
}

label[name="search"]:active{
    opacity: 50%;
}

.search{
    position: relative;
}

.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    opacity: 0.3;
}

.made-order-button{
    background-color: var(--basic-green, green);
    width: 150px;
    padding-top:9px;
    padding-bottom: 9px;
    padding-left: 19px;
    padding-right: 16px;
}

.made-order-button:hover{
    background-color: var(--green-bright, green);
}

.made-order-button:active{
    color: var(--semitransparent-white, white);
}

.high-footer a{
    color: var(--white);
}

.header{
    background-color:var(--basic-background, #F1F5F7);
    margin-bottom: 60px;
    width:100%;
}

.high-footer-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

a.bookmarks:active,
a.cart:active
{
    background-color: var(--header-dark-grey, darkgrey);
    color: var(--semitransparent-white, white);
}

.cart{
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 49px;
    position: relative;
}

.cart::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top:50%;
    left:26px;
    transform: translateY(-50%);
    opacity: 0.3;
}

a.cart:hover::before{
    opacity: 1;
}

.bookmarks{
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 42px;
    position: relative;
}

.bookmarks::before{
    position: absolute;
    content: "";

    width:14px;
    height:16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    opacity:0.3;
}

.bookmarks:hover::before{
    opacity: 1;
}

.search, .bookmarks, .cart, .made-order-button, .navigation {
    font-size: 18px;
    line-height: 24px;
}

.bookmarks, .cart, .made-order-button{
    box-sizing: border-box;
    width: 150px;
}

/* Search */

/* Remove cross sign from input see here https://css-tricks.com/webkit-html5-search-inputs/#comment-82432 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search{
    display: flex;
}

.search-input{
    padding-left: 42px;
    position: relative;
    width:271px;
}

.search-input:focus{
    outline: none;
    background-color:var(--white, white);
}


.search-input::placeholder{
    color: var(--white, white);
}

.search-input:focus+.search-icon path{
    fill: var(--basic-red, #EE3643);
}

.search-input:hover+.search-icon{
    opacity: 1;
}

/* Shop info */

.shop-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.shop-info h1{
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color:var(--basic-red, red);
    width: 208px;
    margin-left: 30px;
    margin-top:43px;
}

.shop-contacts{
    width: 270px;
}

.shop-tel{
    color:var(--basic-red, red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    
    border: 3px solid var(--white, white);
    display: block;
    padding-left: 74px;
    padding-top: 7px;
    padding-bottom: 8px;
    width: 270px;
    box-sizing: border-box;
    position: relative;
    margin-top:46px ;
}

.shop-tel::before{
    content: "";

    background-image: url("../img/icon-phone.svg");
    top:50%;
    left:39px;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    position: absolute;
}

.shop-info .shop-address{
    font-size: 14px;
    line-height: 24px;
    color: var(--nav-background-grey);
    margin: 0px;
    text-align: center;
}

.header-shop-contacts{
    margin-bottom: 40px;
    margin-left: 93px;
}

.account-managment{
    width:300px;
    display: flex;
    justify-content: flex-end;
}

.anonymous-user{
    padding-top: 46px;
    margin-left: 69px;
}

.logined-user{
    flex-direction: column;
    justify-content: center;
    width: 299px;
    margin-top: 46px;
    margin-left: 51px;
}

.login-features{
    display: flex;
    justify-content: center;
}

.login-name{
    display: block;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 56px;
    width:250px;
    position: relative;
}

.user-button{
    position: absolute;

    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.login-name:hover path,
.logout:hover path{
    fill: var(--basic-grey, #3D546F);
}

.login-name:active path,
a.logout:active path{
    fill: var(--basic-greylight, #C5C5C5);
}

.logout{
    width: 49px;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 100%; /*100% высоты от li*/
}

.logout-button{
    position: absolute;
    right:17px;
    top: 50%;
    transform: translateY(-50%);
}

.logout:hover path{
    fill: var(--basic-grey, #3D546F);
}


.account-buttons li:first-child
{
    text-align: center;
}

.account-buttons{
    display: flex;
}

.account-managment .registration{
    margin-left: 10px;
}

.account-managment a{
    font-size: 21px;
    line-height: 21px; 
    color:var(--black, black);
    background-color: var(--white);
}

.login-features a{
    font-size: 16px;
    line-height: 18px;
    color: var(--nav-background-grey,grey);
    background-color: transparent;
    position: relative;
    padding-right: 34px;
}

.login-features a.profile{
    padding-right: 0;
}

.login-features a:not(.profile)::after{
    content: "";

    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:14px;
    background-color:var(--nav-background-grey,grey);
}

.account-managment a:hover{
    color: var(--basic-red, red);
}

.account-managment a.login-name:hover,
.account-managment a.logout:hover{
    color:var(--black, black);
}

.account-managment a:active,
.account-managment a.login-name:active
{
    color: var(--basic-greylight, grey);
}

.registration{
    box-sizing: border-box;
    text-align: center;
    display: block;
    width:150px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.login{
    box-sizing: border-box;
    display: block;
    width: 121px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    position: relative;
}

.icon-login{
    top:50%;
    left:19px;
    transform: translateY(-50%);
    position: absolute;
}

.login:hover path{
    fill: var(--basic-grey, #3D546F);
}

.login:active path{
    fill: var(--basic-greylight, #C5C5C5);
}

.account-managment ul{
    list-style: none;
    margin: 0;
    padding:0;
}

/* Common button styles */

.index-button:active{
    background-color: var(--dark-red, #BA2732);
}

/* Navigation */
/* .navigation{
    background-color: var(--nav-background-grey);
    color: var(--white,white);
} */

.navigation a{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navigation a:hover{
    background-color: var(--footer-grey);
}

.navigation a:active{
    color: var(--semitransparent-white);
    background-color: var(--nav-active);
}

.navigation ul{
    background-color: var(--nav-background-grey);
    box-shadow: inset 0px -5px 0px var(--footer-grey);
    list-style: none;
    padding: 0px;
    margin:0px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    min-height: 55px;
    color: var(--white,white);
}

.navigation li{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

/* .navigation{
    box-shadow: inset 0px -5px 0px var(--footer-grey);
} */

/* About company */

.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.index-columns p{
    font-family: 'PT Sans', serif;
    font-size: 13px;
    line-height: 24px;
}

.index-columns h2{
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    margin:0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
}

.index-columns a:not(.map){
    text-transform: uppercase;
    color: var(--white, white);
    background-color: var(--basic-red, red);
}

.index-columns a:not(.map):active{
    background-color: var(--dark-red, red);
}

.about-us{
    width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us ul{
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.about-us li{
    position: relative;
    padding-left: 37px;
}

.about-us li::before{
    content: "";

    position: absolute;
    background-color: var(--basic-red, #EE3643);
    width: 25px;
    height: 2px;
    left: 0;
    bottom: 40%;
}

.about-us li{
    margin-bottom: 12px;
}

.about-us li:last-child{
    margin-bottom: 22px;
}

.about-us p:first-of-type{
    margin: 0;
    margin-bottom: 27px;
}

.about-us p:last-of-type{
    margin: 0;
}

.company-details{
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 9px;
    display: block;    
    font-size: 14px;
    line-height: 18px;
    width: 220px;
    text-align: center;
}

.contacts img{
    width: 300px;
    height: 158px;
}

.contacts p{
    margin: 0;
    margin-bottom: 32px;
}

.map{
    display: block;
    margin-bottom: 25px;
}

.write-us{
    box-sizing: border-box;
    display: block;    
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

/* Popups */

.feedback, .map-popup, .good-info-cart{
    display: none;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-top: 7px solid var(--basic-red, #EE3643);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.close-button{
    position: absolute;
    right: 11px;
    top: 21px;
    background-color: transparent;
    width: 21px;
    height: 21px;
    border: 0;
    cursor: pointer;
}

.close-button::before,
.close-button::after{
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    top: 8px;
    left: -3px;
    background-color: var(--basic-red, #EE3643);
    border-radius: 2px;
}

.close-button::before{
    transform: rotate(45deg);
}

.close-button::after{
    transform: rotate(-45deg);
}

.feedback{
    bottom: 300px;
    top:auto;
    box-sizing: border-box;
    width: 620px;
    background-color: var(--white, white);
    
}

.map-popup{
    bottom: 300px;
    top:auto;
    box-sizing: border-box;
    width: 943px;
    height: 449px;
}

.good-info-cart{
    width: 620px;
    top:400px;
    bottom: auto;
    background-color: var(--white, white);
    text-align: center;
}

.succesful-adding-wrapper{
    position: relative;
}

.good-info-cart p{
    margin-top: 73px;
    margin-bottom: 67px;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-left: 150px;
    margin-right: 70px;
}


.good-info-cart .buttons-section{
    padding-bottom: 37px;
    padding-top:37px;
    background-color: var(--good-info-grey, #F1F1F1);
    display: flex;
    justify-content: center;
}

.buttons-section a, .buttons-section button{
    box-sizing: border-box;
    width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    border: none;
    display: block;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.buttons-section a{
    background-color: var(--basic-red, #EE3643);
    margin-right: 10px;
    text-decoration: none;
    color: var(--white, white);
}

.buttons-section button{
    background-color: var(--white, white);
    color: var(--black, black);
}

.ok-icon{
    width: 66px;
    height: 66px;
    top: 55px;
    left: 81px;
    background-image: url("../img/icon-mark.svg");
    top: 50%;
    left: 81px;
    transform: translateY(-50%);
    position: absolute;
}

.modal-map iframe {
    border: none;
}

.feedback label{
    display: block;
    font-size: 18px;
    line-height: 24px;
}

.feedback input{
    box-sizing: border-box;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 7px;
    border: 2px solid var(--basic-greylight, #C5C5C5);
    border-radius: 2px;
    margin-bottom: 11px;
}

.feedback input::placeholder,
.send-letter-section textarea::placeholder{
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    color: var(--not-active-price, #A9A9A9);
}

.user-input-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
}


.send-letter-section{
    flex-grow: 1;
}

.send-button-area{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 37px;
    padding-top: 37px;
    margin-top: 37px;
    background-color: var(--form-grey, #F4F4F4);
}

.send-button-area button{
    box-sizing: border-box;
    width: 460px;
    background-color: var(--basic-red, #EE3643);
    padding-top: 11px;
    padding-bottom: 9px;
    border: none;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white, white);
    text-transform: uppercase;
}     

.send-letter-section textarea{
    width: 100%;
    height: 114px;
    box-sizing: border-box;
    border: 2px solid var(--basic-greylight, #C5C5C5);
    border-radius: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 7px;
    resize: none;
}

.feedback p:not(.send-letter-section){
    width: 220px;
}

.send-letter-section{
    width: 460px;
}



/* Footer */

.footer-part-one{
    background-color: var(--nav-background-grey);
    font-size: 18px;
    line-height: 24px;
    color: var(--white, white);
}

.footer-part-one .container{
    display: flex;
    justify-content: space-between;
}

.footer-logo img{
    display: block;
}

.footer-logo{
    display: block;
    margin-top: 0;
    margin-bottom: 22px;
}

.address-and-phone p{
    margin:0;
    padding-left: 3px;
}

.address-and-phone{
    margin-bottom: 54px;
}

.additional-navigation{
    width: 547px;
    margin-left: 69px;
}

.additional-navigation-high{
    display: flex;
    justify-content: space-between;
    /* flex-basis: 547px; */
    margin:0;
    padding: 0;
    margin-top: 37px;
}

.additional-navigation-low{
    display: flex;
    justify-content: space-between;
    /* flex-basis: 547px; */
    margin:0;
    padding: 0;
    margin-top: 34px;
}

.additional-navigation-low li:first-child{
    margin-left: auto;
}

.additional-navigation-low li{
    margin-right: 59px;
}

.additional-navigation-low li:last-child{
    margin-right: 0px;
}

.footer-part-two{
    background-color: var(--footer-grey, grey);
    font-size: 16px;
    line-height: 18px;
    color: var(--white, white);
}

.footer-part-two .container{
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-top:36px;
    margin-bottom: 34px;
}


.social-media{
    display: flex;
    width: 135px;
    align-items: flex-end;
    margin-bottom: 24px;
    padding-left: 38px;
}

.social-media ul{
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Additional navigation */

.additional-navigation ul{
    list-style: none;
}

.additional-navigation-high a{
    color: var(--white, white);
}

.additional-navigation-low a{
    color: var(--yellow-light, yellow);
}

.additional-navigation a:hover{
    text-decoration: underline;
}

.additional-navigation a:active{
    opacity: 0.5;
    text-decoration: none;
}

/* Site parts */

.small-category{
    width: 300px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white, white);
}

.site-parts h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.site-parts{
    display: grid;
    grid-template-areas: 
    "materials tools equipment"
    "slider slider discount"
    "slider slider free-delivery";
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

.small-category h3{
    margin-top: 20px;
    margin-left: 22px;
}

.small-category a{
    margin-top: 14px;
    text-transform: uppercase;
    color: inherit;
    display: block;
    margin-left: 23px;
    box-sizing: border-box;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--semitransparent-white-for-buttons);
}

.small-category a:hover{
    background-color: var(--semitransparent-grey,rgba(197, 197, 197, 0.3));
}

.small-category a:active{
    background-color: var(--semitransparent-darkgrey,rgba(169, 169, 169, 0.3));
}

.materials{
    background-color: var(--yellow-bright, yellow);
    grid-area: materials;
    position: relative;
    
}

.materials::before{
    content: "";

    background-image: url("../img/icon-paint.svg");
    position: absolute;
    width:44px;
    height:65px;
    top: 50%;
    transform: translateY(-50%);
    right: 43px;
}

.tools{
    background-color: var(--blue, blue);
    grid-area: tools;
    position: relative;
}

.tools::before{
    content: "";

    background-image: url("../img/icon-tools.svg");
    position: absolute;
    width: 75px;
    height: 61px;
    top: 50%;
    transform: translateY(-50%);
    right: 31px;
}

.equipment{
    background-color: var(--lillac, pink);
    grid-area: equipment;
    position: relative;
}

.equipment:before{
    content: "";

    position: absolute;
    width:78px; 
    height:62px;
    background-image: url("../img/tractor.svg");
    right:31px;
    top: 50%;
    transform: translateY(-50%);
}

.discount{
    background-color: var(--green-light, green);
    grid-area: discount;
    position: relative;
}

.discount::before{
    content: "";

    position: absolute;
    background-image: url("../img/icon-cart-with-goods.svg");
    width: 59px;
    height: 72px;
    right: 45px;
    top: 50%;
    transform: translateY(-50%); 
}

.free-delivery{
    background-color: var(--yellow-very-bright, yellow);
    grid-area: free-delivery;
    position: relative;
}

.free-delivery::before{
    content: "";

    position: absolute;
    background-image: url("../img/fast-car.svg");
    width: 78px;
    height: 63px;
    right: 31px;
    top: 50%;
    transform: translateY(-50%);
}

.open-catalog-button{
    background-color: var(--basic-red, red);
    width: 192px;
    color: var(--white, white);
    position: absolute;
    padding-top: 11px;
    padding-bottom: 9px;
    bottom: 27px;
    left: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.slider{
    grid-area: slider;
    position: relative;
}

.slider-controls button{
    position: absolute;
    border: none;
    background-color: transparent;
}

.slider-back{
    top: 115px;
    left: 25px;
    background-image: url("../img/icon-left.svg");
    width: 22px;
    height: 40px;
}

.slider-forward{
    top: 115px;
    right: 21px;
    background-image: url("../img/icon-left.svg");
    width: 22px;
    height: 40px;
    transform: scale(-1, 1);
}

.slider-image-anchors button{
    border-radius: 50%;
    background-color: var(--white, white);
    margin-right: 10px;
    padding: 0;
    width: 10px;
    height: 10px;
    border: 2px solid var(--white, white);
    cursor: pointer;
}

.slider-image-anchors .selected-slider-button{
    background-color: var(--basic-red, #EE3643);
}

.slider-image-anchors button:last-child{
    margin-right: 0;
}

.slider-image-anchors{
    display: flex;
    justify-content: center;
    position: absolute;
    left:0;
    bottom: 36px;
    width: 100%;
}

.slider-part{
    color: var(--white, white);
    width: 620px;
    background-repeat: no-repeat;
    min-height: 266px;
}

.slider-part h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 23px;
    padding-left: 24px;
}

.slider-part p{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
    margin: 0;
    margin-left: 24px;
    margin-top: 5px;
}

.slider-perforators{
    background-image: url("../img/slider-perforator-light.jpg");
}

.slider-drills{
    background-image: url("../img/slider-drill-light.jpg");
    /* пока не сверстан слайдер */
    display: none;
}



/* Popular goods */

.index-headings {
    background-color: var(--heading-beige, beige);
    width: 940px;
    text-transform: uppercase;
    color: var(--nav-background-grey, grey);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.index-headings h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    padding-top: 29px;
    padding-bottom: 30px;
    margin: 0;
    margin-left: 28px;
}

.index-headings a{
    background-color: var(--basic-red, red);
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    display: block;
    padding-top:11px;
    padding-bottom: 9px;
    box-sizing: border-box;
    margin-right: 14px;
    text-align: center;

}

/* Popular-goods */

.popular-goods{
    margin-top: 59px;
}

/* Popular producers */

.popular-producers{
    margin:0;
    padding:0;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-producers-section{
    margin-top:70px;
    margin-bottom: 70px;
}

.popular-producers img:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-producers img:active{
    opacity: 0.5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Services */

.services{
    background-color: var(--basic-background, #F1F5F7);
    margin-bottom: 70px;
}



.service-types{
    list-style: none;
    margin: 0;
    padding:0;
    margin-bottom: 99px;
}

.service-types button{
    border: none;
    outline: none;
    background-color: var(--nav-background-grey,#32425C);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px; 
    color: var(--white, white);
    width: 100%;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 18px;
    text-align: start;
}

.service-types button:hover,
.service-types button:focus{
    border:none;
    outline: none;
    background-color: var(--footer-grey, #293449);
}

.service-types button:active{
    border:none;
    outline: none;
    background-color: var(--white, white);
    color: var(--nav-background-grey,#32425C);
}

.service{
    position: relative;
}

.delivery::after{
    content: "";
    position: absolute;

    display: block;
    background-image: url("../img/delivery.svg") ;
    width:468px;
    height:261px;
    bottom: 0;
    right: 0;
}

.quarantee::after{
    content: "";
    position: absolute;

    background-image: url("../img/guarantee.svg");
    width:389px;
    height:283px;
    display: block;
    bottom: 0;
    right: 0;
}

.credit::after{
    content: "";
    position: absolute;

    background-image: url("../img/credit.svg");
    width: 465px;
    height: 285px;
    display: block;
    bottom: 0;
    right: 0;
}

.services h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    padding-top: 64px;
    margin-bottom: 25px;
    margin-top: 0px;
}

.services .container{
    position: relative;
}

.list-shadow{
    position: absolute;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    top: 186px;
    left: 240px;
    width: 10px;
    height: 279px;
}

.services p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 394px;
}

.service h3{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--nav-background-grey,#32425C);
    margin: 0;
    margin-bottom: 31px;
    font-weight: normal;
}

.shop-advantage{
    margin-top:0;
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 70px;
}

.send-request-for-credit{
    background-color: var(--credit-red,#FF5357);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Cuprum', sans-serif;
    color: var(--white, white);
    display: block;
    width: 195px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 26px;
}

/* Services description */

.services-description{
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 80px;
}


/* Пока не сделан слайдер для сервисов */
.hidden-service{
    display: none;
}

/* Developers info */

.developers-info a{
    color: var(--yellow-light, yellow);
}

.developers-info a:hover
{
    text-decoration: underline;
}

.developers-info a:active
{
    color:var(--basic-red);
}

.developers-info p{
    margin:0;
    padding: 0;
    margin-right: 14px;
}

.developers-info p:first-child{
    width: 137px;
    margin-right: 51px;
}
.developers-info p:last-child{
    width: 98px;
}

.developers-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Social media */
.social-media ul{ 
    list-style: none;
}

.social-media  a{
    display: block;
    width: 42px;
    height: 42px;
    background-color: var(--social-dark-grey, grey);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-media  a.vk{
    background-image: url("../img/icon-vk.svg");
}

.social-media  a.fb{
    background-image: url("../img/icon-fb.svg");
}

.social-media  a.insta{
    background-image: url("../img/icon-insta.svg");
}

.social-media a:hover, 
.social-media a:active
{
    background-color: var(--basic-red, red);
}



/* About perforators */
.about-perforators{
    background-color: var(--basic-background, #F1F5F7);
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-perforators h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Cuprum';
    padding-top: 64px;
    padding-bottom: 25px;
    padding-left: 0;
}
.about-perforators p{
    padding-bottom: 68px;
    margin-top: 0;
    margin-bottom: 0;
}


/* Perforators catalog */

.perforators-catalog h2{
    background-color: var(--basic-background, #F1F5F7);
    color: var(--nav-background-grey, black);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

/* grid for catalog-filter-sort */

.perforators-catalog{
    display: grid;
    grid-template-areas: 
    "header header"
    "filter sort"
    "filter goods";
    grid-template-columns: 220px 1fr;
    grid-template-rows: 129px 66px 1fr;
    column-gap: 20px;
}

.perforators-catalog-header{
    grid-area: header;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;

}

.catalog-sort{
    grid-area: sort;
    margin-bottom: 28px;
}

.order-desc{
    display: block;
    box-sizing: border-box;
    border-bottom: 10px solid var(--basic-greylight, #C5C5C5);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-right: 21px;
}

.sort-link:hover .sort-direction{
    border-bottom-color: var(--black, black);
    border-top-color: var(--black, black);
}

.sort-link:active .sort-direction{
    border-bottom-color: var(--basic-red, #EE3643);
    border-top-color: var(--basic-red, #EE3643);
}

.order-asc{
    display: block;
    box-sizing: border-box;
    border-top: 10px solid var(--basic-greylight, #C5C5C5);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.sort-directions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-filter{
    grid-area: filter;
}

.catalog-goods{
    grid-area: goods;
}

.bread-crumbs-home{
    background-image: url("../img/icon-home.svg");
    display: block;
    width: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-repeat: no-repeat;
}

.bread-crumbs{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black, black);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.bread-crumbs a:not(.bread-crumbs-home){
    color: var(--black, black);
    margin-left: 17px;
    padding-left:25px;
    position: relative;
}

.bread-crumbs a:not(.bread-crumbs-home)::before{
    content:"";

    background-image: url("../img/icon-right-small.svg");
    width: 8px;
    height: 14px;
    position: absolute;
    top:50%;
    left:0;
    transform:translateY(-50%); 
}

.catalog-sort{
    background-color: var(--beige, #F7F3EC);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
}

.catalog-sort h2,
.catalog-filter h2{
    font-family: 'PT Sans', san-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--beige);
    margin: 0;
    border-radius: 2px;
}

.catalog-filter h2{
    padding-left: 18px;
    display: flex;
    align-items: center;
}

.check-input:disabled ~ label{
    color: var(--semitransparent-black-for-input, rgba(0, 0, 0, 0.4)); 
}

/* Sort */

.catalog-sort a{
    text-transform: uppercase;
    color:var(--semtransparent-black, rgba(0, 0, 0, 0.3));
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red, #EE3643);
}

.catalog-sort a:hover{
    text-decoration-style: solid;
    color: var(--black, black);
}

.catalog-sort a:active{
    text-decoration: none;
    color: var(--basic-red, #EE3643);
}



/* Filter */

.catalog-filter legend{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.0484964px;
    text-transform: uppercase;
}

.catalog-filter fieldset{
    margin:0;
    padding: 0;
}

.catalog-filter{
    display: flex;
    width: 220px;
    flex-direction: column;
}

.catalog-filter-header{
    flex-basis: 38px;
}

fieldset.catalog-filter-price{
    border:none;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--very-very-slight-grey, #e5e5e5);
}

fieldset.catalog-filter-producers{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    border:none;
    border-bottom: 1px solid var(--very-very-slight-grey, #e5e5e5);
    padding-bottom: 25px;
}

.catalog-filter-producers div{
    margin-bottom: 16px;
}

.range-filter{
    width: 220px;
    margin-top: 11px;
    margin-bottom: 9px;
}

.range-control{
    height: 80px;
    background-color: var(--beige, #F7F3EC);
    border-radius: 5px;
    padding-top: 39px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 9px;
}

.range-control .scale {
    height: 2px;
    background-color: var(--grey-for-scale, #d7dcde);
}

.range-control .bar{
    width: 80%;
    height: 100%;
    background-color: var(--price-green, #00CA74);
}

.pin{
    position: absolute; 
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 8px;
    border-color: var(--white, white);
    background-color: var(--pin-grey, #ABABAB);
    border-style: solid;
    box-shadow: 0 2px 1px 0 var(--pin-shadow-grey, rgba(171, 171, 171, 0.3));
    left:0;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.pin-max{
    left:18px;
}

.pin-min{
    left: 160px;
}

.price-control input{
    font-family: PT Sans;
    font-size: 17px;
    line-height: 18px;
    border-radius: 5px;
    background-color: var(--beige, #F7F3EC);
    width: 95px;
    text-align: center;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px ;
    box-sizing: border-box;
}

.price-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-separator{
    background-color: var(--price-separator-brown,#444444);
    width: 9px;
    height: 1px;
    align-self: center;
}

/* Custom check-boxes */

.check-input{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
}

.checkbox-label{
    position: relative;
    padding-left: 35px;
}

.custom-check-box{
    position: absolute;
    width: 27px;
    min-height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    left:0;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.79;
}

.check-input:checked+.checkbox-label .custom-check-box{
    background-image: url("../img/checkbox-on.svg");
}

.check-input:focus+.checkbox-label .custom-check-box,
.check-input:active+.checkbox-label .custom-check-box,
.check-input:hover+.checkbox-label .custom-check-box{
    opacity: 1;
}

.check-input:disabled+.checkbox-label .custom-check-box{
    opacity: 0.3;
}

fieldset.catalog-filter-supply{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    border:none;
    margin-bottom: 34px;
}

.radio-input{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
}

.radio-label{
    position: relative;
    padding-left: 35px;
}

.custom-radio-button{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    opacity: 0.79;
    background-repeat: no-repeat;

    top:50%;
    transform: translateY(-50%);
    left:0;
}

.radio-input:checked+.radio-label .custom-radio-button{
    background-image: url("../img/radio-on.svg");
}

.radio-input:focus+.radio-label .custom-radio-button,
.radio-input:active+.radio-label .custom-radio-button,
.radio-input:hover+.radio-label .custom-radio-button
{
    opacity: 1;
}

.radio-input:disabled+.radio-label .custom-radio-button{
    opacity: 0.3;
}

.radio-input:disabled+.radio-label{
    color: var(--semitransparent-black-for-input, rgba(0, 0, 0, 0.4));
}

.catalog-filter label{
    font-size: 15px;
    line-height: 19px;
    font-family: 'PT Sans', Arial, sans-serif;
}

.catalog-filter button{
    background-color: var(--white);
    border: 1px solid var(--black, black);
    width: 220px;
    height: 38px;
}

/* Catalog items */

.perforators-items{
    list-style: none;
    padding: 0;
    margin:0;
}

.perforators-items{
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 18px;
    column-gap: 20px;
}

.perforators-items.popular{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.perforators-items li{
    padding: 0;
    margin: 0;
}

.perforators-items article{
    border: 1px solid var(--verylight-grey);
    min-height: 318px;
    font-family:'PT Sans', Arial,  sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    margin: 0;
}

.perforators-items h3{
    font-size: 18px;
    line-height: 20px;
    margin:0;
    margin-bottom: 7px;
}

.perforators-items del, .perforators-items p{
    text-transform: uppercase;
}

.perforators-items del{
    color:var(--not-active-price, grey);
    margin-bottom: 13px;
}

.perforators-items del+p{
    margin-top: 21px;
}

.perforator-item div:last-of-type+p{
    margin-top: 52px;
}

.perforators-items p{
    background-color: var(--basic-red, red);
    padding:0;
}

.perforators-items a{
    background-color: var(--basic-green, green) ;
    box-shadow: inset 0px -3px 0px var(--shadow-green, green);
    border-radius: 2px;
    color: var(--white, white);
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.perforators-items a:focus
{outline: none;}

.perforators-items a:hover,
.perforators-items a:focus{
    background-color: var(--green-bright, green);
}

.perforators-items a:active{
    background-color: var(--active-green, green);
}

.perforators-items button{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--nav-background-grey, black);
    border: 3px solid var(--basic-green, green);
    border-radius: 2px;
    background-color: var(--white);
}

.perforators-items button:hover {
    border: 3px solid var(--nav-background-grey, grey);
}

.perforators-items button:active{
    border: 3px solid var(--nav-background-grey, grey);
    opacity: 50%;
}

.perforators-items button:focus{
    outline: none;
    border: 3px solid var(--nav-background-grey, grey);
}

.perforators-items article:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.perforator-item:hover .good-wrapper{
    display: none;
}

.good-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perforator-item div:last-of-type{
    display: none;
}

.high-limit{
    min-height: 178px;
}

.perforator-item:hover div:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perforator-item a{
    text-transform: uppercase;
    display: block;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 34px;
}

.perforator-item button{
    text-transform: uppercase;
    display: block;
    width: 135px;
    padding-bottom: 9px;
    padding-top: 11px;
}

.perforator-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-good{
    position: relative;
    overflow: hidden;
}

.new-good::after{
    content: "NEW";
    
    top: 7px;
    right: -26px;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--basic-red, #EE3643);
    transform: rotate(45deg);
    color: var(--white, white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* place header for good under header */
.perforator-item img,
.perforator-item div{
    order: -1;
}



/* Paging */

.pages{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 48px;
    width: 284px;
    justify-content: space-between;
}

.pages a{
    border: 1px solid var(--very-very-slight-grey, grey);
    border-radius: 2px;
    background-color: var(--white, white);
    color: var(--black);
    text-transform: uppercase;
    box-shadow: none;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pages a.next-page{
    padding-right: 32px;
    padding-left: 31px;
}

.pages a:hover,
.pages a:focus{
    border-color: var(--basic-greylight, grey);
    background-color: var(--white);
    outline: none;
}

.pages a:active{
    border-color: var(--basic-red, red);
}

.pages a:not([href]){
    background-color: var(--basic-red, red);
    border-color: var(--basic-red, red);
}



/* Grids and flexes */
.page {
    height: 100%;
}

.page body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
 
